header div nav p, header div nav a{position: relative;}

header div nav p::after, header div nav a::after{
    content: ".";
    display: block;
    font-size: 4em;
    position: absolute;
    top: -80%;
    left: -70%;
    color: red;
}

header div nav p:nth-child(1)::after,
header div nav a:nth-child(1)::after{
    visibility: hidden;
}

@media only screen and (max-width: 1300px){
    header div nav p::after,
    header div nav p:nth-child(1)::after
    header div nav a::after,
    header div nav a:nth-child(1)::after
    {
        visibility: hidden;
    }
}